[Unit]
Description=Service for optisign
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/Downloads/optisigns-5.6.32-arm64.AppImage
ExecStop=/bin/bash /home/pi/stop_signage.sh
Restart=always
RestartSec=5
TimeoutSec=60
RuntimeMaxSec=infinity
PIDFile=/tmp/optisign.pid

[Install]
WantedBy=multi-user.target